.banner {
	background-image: linear-gradient(0deg, rgb(0,0,0), rgb(0,0,0,0.2)), url('../../image/286416610_153651873853837_1696335917022243123_n.jpg');
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}